/* ---index-header--- */
.el-topBar {
    background-color: #222222;
}

.el-topBar .navbar {
    padding: 0;
    line-height: 35px;
}

.el-topBar .navbar-brand {
    color: #fff;
}

.el-topBar .navbar-brand>i {
    font-size: 24px;
}

.el-topBar .navbar-brand:focus {
    color: #00a8ff;
}

.el-topBar .navbar-brand>span {
    font-size: 24px;
}

.el-topBar #topMenu>ul>li {
    padding: 0 6px;
}

.el-topBar #topMenu>ul>li a {
    color: #fff;
}

.el-topBar #topMenu>ul>li a:hover {
    color: #00a8ff;
    text-decoration: underline;
}

/*---- body font&color---- */
body {
    font: 14px/1.5 "Verdana", "微软雅黑", YaHei, tahoma, arial, Hiragino Sans GB,
        "宋体"
}

/*-----el-navbar---- */
.el-navbar {
    padding: 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #e7e7e7;
}

.el-navbar .navbar-nav>li>a {
    padding: 0;
    min-width: 90px;
    text-align: center;
    line-height: 80px;
    font-size: 16px;
}

.el-navbar .navbar-nav>li>a:hover {
    background: none repeat scroll 0 0 #f0f0f0;
    color: #09d !important;
}

/* ---active---- */
.navbar-nav>li.active a:focus {
    background-color: #e7e7e7;
    color: #555 !important;
}

/* ----lunbo---- */
.carousel-indicators>li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* ---feature---- */
.el-feature {
    display: flex;
    justify-content: space-around;
}

.el-feature>dl {
    display: flex;
    width: 33.3%;
    flex-direction: column;
    padding-left: 80px;
    padding-bottom: 10px;
    margin: 20px 0;
}

.el-feature>dl>dt {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.el-feature>dl>dd {
    color: #999999;
}

.el-feature .el-feature-item01 {
    background: url(../images/feature01.png) no-repeat;
}

.el-feature .el-feature-item02 {
    background: url(../images/feature02.png) no-repeat;
}

.el-feature .el-feature-item03 {
    background: url(../images/feature03.png) no-repeat;
}

/* ---panel---- */

.panel-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    border-bottom: 1px solid #e8e8e8;
    margin: 10px 0px 16px;

}

.panel-title span {
    font-size: 24px;
    color: #2e8ece;
    font-weight: bold;
    border-bottom: 3px solid #2e8ece;
}

.panel-title a {
    display: block;
    margin-top: 10px;
    color: #337ab7;
}

.el-table {
    width: 100%;
    margin-bottom: 15px;
}

.el-table thead th {
    color: #999999;
    border-bottom: 2px solid #ddd;
    padding-bottom: 8px;
}

.el-table tbody tr {
    border-top: 1px solid #ddd;
}

.el-table tbody tr td,
th {
    font-size: 16px;
    vertical-align: middle;
    padding: 8px;
}

.el-table tbody tr:hover {
    background-color: rgba(227, 233, 233, 0.904);
}

.el-table tbody .text-info {
    color: #31708f;
}

.el-new-list ul {
    padding: 0;
}

.el-new-list ul li {
    list-style-type: none;
    line-height: 38px;
    font-size: 14px;
    border-bottom: 1px dotted #eee;
}

.el-new-list ul li a {
    display: flex;
    justify-content: space-between;
    color: #555;
}

.el-new-list ul li a:hover {
    color: #09d;
    text-decoration: none;
}

/*---- footer---- */
footer {
    background-color: #f8f8f8;
    margin: 20px 0px 20px 0px;
    padding-top: 30px;
}

footer div p a {
    color: #337ab7;
    text-decoration: none;
}

/* 图片占用宽度100% */
.pic {
    width: 100%;
}