.invest h4 {
    font-weight: normal;
    font-size: 18px;
    margin: 10px 0;
}

.invest .text-muted {
    color: #777;
    padding-bottom: 5px;
}

.invest .btn-group {
    margin-left: 20px;
}

.invest .btn-group button {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    font-size: 14px;
    padding: 5px 25px;
}

.invest .btn-group button:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.invest .btn-group button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}
.invest .el-table {
    margin-top: 20px;
    margin-bottom: 100px;
}
.invest .inv-person {
    font-size: 16px;
    font-weight: normal;
}
.invest .el-table tbody .text-info {
    color: #31708f !important;
}
.invest .el-table tbody .btn {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    font-size: 12px;
}
/* .invest tbody tr:hover {
    background-color: rgba(227, 233, 233, 0.904);
} */