
.login {
    margin-top: 6px;
    height: 300px;
    border: 1px solid #dddddd;
}

.login .login-title {
    color: #333;
    background-color: #f5f5f5;
}

.login .login-title p {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.login .login-content p {
    margin: 10px 10px 20px 80px;
    color: #999;
    font-size: 18px;
}

.login .login-content label {
    color: #333;
    font-weight: bold;
}

.login .login-content input {
    width: 220px;
}
.login .login-content .btn {
    padding: 3px 32px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin:0 35px;
    font-size:14px;
}
.login .login-content .register-link{
    color: #337ab7;
}