@charset 'utf-8';

/* 公共标题 */
.com-title {
    line-height: 34px;
    border-bottom: 6px solid #f60;
}

.current {
    color: #ffffff;
    background-color: #ff6600;
}

/* 公共标题 */

#recommend .com-main {
    width: 1190px;
    margin: 0 auto;
}

#recommend .com-main li {
    float: left;
    width: 196px;
    height: 250px;
    border-left: 1px solid #f60;
    border-bottom: 1px solid #f60;
}

#recommend .com-main li:nth-child(6n) {
    border-right: 1px solid #f60;
}

#recommend .com-main li img:first-child {
    margin: 0 25px;
}

#recommend .com-main li>p {
    margin-left: 10px;
}

/* ---------------电子书--------------- */
#ebook .com-title {
    width: 905px;
}

#ebook .com-title ul li {
    width: 98px;
    text-align: center;
    margin-left: 15px;
    cursor: pointer;
}

/* -----------------电子书左边 ---------------*/
#ebook .eb-main {
    display: none;
    height: 440px;
}

#ebook .eb-main.cur {
    display: block;
}

#ebook .eb-sort {
    width: 236px;
}

#ebook .eb-sort li {
    float: left;
    width: 78px;
    height: 37px;
}

#ebook .eb-list {
    width: 670px;
    height: 440px;
}

#ebook .eb-list .eb-slide {
    width: 332px;
}

#ebook .eb-list>li {
    border-left: solid 2px #cccccc;
    border-bottom: solid 2px #cccccc;
    float: left;
    width: 165px;
    height: 218px;
}

#ebook .eb-list >li:nth-child(3) {
    border-right: solid 2px #cccccc;
}

#ebook .eb-list >li:nth-child(7) {
    border-right: solid 2px #cccccc;
}

#ebook .eb-list >li span:last-child {
    text-decoration: line-through;
}

/* ----------------电子书右边畅销榜------------------ */
#ebook .eb-detail {
    width: 280px;
    border: solid 2px #e6e6e6;
}

#ebook .eb-detail .title {
    line-height: 37px;
}

#ebook .eb-detail ul li {
    position: relative;
}

#ebook .eb-detail ul li span {
    position: absolute;
    left: 8px;
    top: 5px;
}

#ebook .eb-detail ul li div {
    display: none;
}

#ebook .eb-detail ul li div.cur {
    display: block;
}

#ebook .eb-detail ul li .title.curtitle {
    display: none;
}

#ebook .eb-detail ul li div p {
    width: 126px;
    height: 115px;
    margin: 10px;
    line-height: 20px;
}

#ebook .eb-detail ul li:not(:last-child)>p {
    border-bottom: 2px solid #e6e6e6;
}

/*-------------- 服装作为公共样式------------ */
.com-title ul li {
    width: 98px;
    height: 34px;
    float: left;
    text-align: center;
    margin-left: 15px;
    cursor: pointer;
}

/* 服装分类内容左边 */
.com-sort {
    width: 238px;
}

.com-sort li {
    float: left;
    width: 78px;
    height: 37px;
}

/* 服装内容右边 */
/* .com-title {
    width: 1190px;
} */

.com-pic {
    width: 960px;
    height: 506px;
}

.com-pic .cl-slide {
    width: 429px;
    height: 334px;
}

.com-pic >li {
    float: left;
    border-left: solid 2px #cccccc;
    border-bottom: solid 2px #cccccc;
}

.com-pic >li:nth-child(4n) {
    border-right: solid 2px #cccccc;
}

/* .com-pic >li:first-child {
    border: none;
} */

.com-brand li {
    float: left;
}

.com-main {
    display: none;
}

.com-main.cur {
    display: block;
}

/*------------------- 家具用品--------------------- */
/* #house ul {
    height: 502px;
} */
/* 
#house ul li {
    float: left;
    border-left: solid 2px #cccccc;
    border-bottom: solid 2px #cccccc;
}

#house ul li:nth-child(4) {
    border-right: solid 2px #cccccc;
} */
/* #house ul li:nth-child(9) {
    border-right: solid 2px #cccccc;
} */
#house .index21 {
    width: 486px;
    border-left: solid 2px #cccccc;
    border-bottom: solid 2px #cccccc;

}

#house .index22 li {
    float: left;
    width: 175px;
    height: 335px;
    border-left: solid 2px #cccccc;
    border-bottom: solid 2px #cccccc;

}

#house .index22 li:last-child {
    border-right: solid 2px #cccccc;

}

#house .index23 li {
    float: left;
    width: 175px;
    height: 162px;
    border-left: solid 2px #cccccc;
    border-bottom: solid 2px #cccccc;
}

#house .index23 li:last-child {
    border-right: solid 2px #cccccc;

}

/*---------------- 商品推广--------------- */
#spread ul li {
    float: left;
    width: 214px;
    height: 300px;
    margin: 13px;
}

#spread ul li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

#spread ul li .pic1 {
    margin: 25px 32px 5px;
}

#spread ul li .pic2 {
    width: 24px;
    height: 17px;
    margin-left: 30px;
    vertical-align: middle;
}

#spread ul li p {
    width: 139px;
    height: 30px;
    margin: 0 30px;
}

/*------- 图片定位------ */
footer .logo {
    position: absolute;
    right: 225px;
    top: 160px;

}

footer .gototop {
    position: absolute;
    right: 160px;
    top: -56px;
}

/* -----------楼成图------------- */
#build {
    width: 40px;
    height: 200px;
    position: fixed;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f2f2f2;
    cursor: pointer;
}

#build>a {
    float: left;
    position: relative;
    width: 40px;
    height: 40px;
    
}

#build>a span {
    position: absolute;
    right: -80px;
    font-size: 16px;
    height: 40px;
    width: 80px;
    line-height: 40px;
    color: #fefefe;
    text-align: center;
    background-color: #93d46f;
    display: none;
}

#build>a.icon1 {
    background: url(../imgs/indexleft_05.png) no-repeat;
}

#build>a.icon2 {
    background: url(../imgs/indexleft_14.png) no-repeat;
}

#build>a.icon3 {
    background: url(../imgs/indexleft_11.png) no-repeat;
}

#build>a.icon4 {
    background: url(../imgs/indexleft_08.png) no-repeat;
}

#build>a.icon5 {
    background: url(../imgs/indexleft_17.png) no-repeat;
}