/* 购物车图标 */
header .top .car {
    width: 258px;
    height: 114px;
}

header nav .where-r {
    border: none;
}

header nav .where-r>select {
    width: 171px;
    height: 22px;
    outline: none;
    background-color: #ffffff;
    border: solid 1px #d9d9d9;
}

header nav .where-r>select>option {
    color: #4d4d4d;
}

header nav>div {
    margin-top: 20px;
}

header .searchbox .check {
    height: 60px;
    background-color: #f2f2f2;
}

header .searchbox .check>a {
    line-height: 60px;
    color: #808080;
}

header .searchbox .check>input {
    width: 18px;
    height: 18px;
    background-color: #f5f5f5;
    border: solid 1px #cccccc;
    vertical-align: middle;
}

/* 购物车区域 */
#shopcartarea>p {
    line-height: 44px;
}

#shopcartarea table {
    width: 100%;
    border-collapse: collapse;
}

#shopcartarea table tbody tr {
    border-bottom: 2px solid #e6e6e6;
}

#shopcartarea table thead tr,
#shopcartarea table tfoot tr {
    font-size: 18px;
    color: #808080;
    line-height: 60px;

}

#shopcartarea table thead tr {
    background-color: #f2f2f2;
}

#shopcartarea table tbody tr {
    height: 185px;
}

#shopcartarea table tbody td {
    font-size: 16px;
    color: #4d4d4d;

}

#shopcartarea table tbody .singleTotalPrice {
    font-size: 18px;
    font-weight: bold;
}

#shopcartarea table tfoot tr {
    border: solid 1px #cccccc;
}

#shopcartarea table tbody .last {
    height: 30px;
}

#shopcartarea table tbody td img {
    width: 160px;
    height: 160px;
}

#shopcartarea table tbody td span {
    margin-left: 30px;
}

#shopcartarea table tbody img {
    vertical-align: middle;
    border: 1px solid #e5e5e5;
}

#shopcartarea table tbody .reducebtn,
#shopcartarea table tbody .addbtn {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#shopcartarea table tbody .count {
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
}

/* 人气单品 */
#like .com-title>p {
    width: 124px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    background-color: #ff6600;
}

#like>ul>li {
    float: left;
    width: 214px;
    height: 300px;
    margin: 13px;
}

#like>ul>li .pic1 {
    margin: 25px 32px 5px;
}

#like>ul>li>span:last-child {
    text-decoration: line-through;
}

#like>ul>li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

#like>ul>li>p {
    margin: 0 15px;
}